Repository raydocs/SkinLab: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftlint, swiftformat-check, secrets-check

.pre-commit-config.yaml:

# Pre-commit hooks for SkinLab
# Install: brew install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # SwiftLint - Check code style
      - id: swiftlint
        name: SwiftLint
        entry: swiftlint lint --strict --quiet
        language: system
        files: \.swift$
        exclude: (Pods|DerivedData|\.build)/

      # SwiftFormat - Check formatting
      - id: swiftformat-check
        name: SwiftFormat Check
        entry: swiftformat --lint .
        language: system
        files: \.swift$
        exclude: (Pods|DerivedData|\.build)/
        pass_filenames: false

      # Secrets check - Prevent accidental secret commits
      - id: secrets-check
        name: Secrets Check
        entry: scripts/check-secrets.sh
        language: script
        files: \.(swift|plist|xcconfig|json|yml|yaml)$

      # Large files check
      - id: large-files
        name: Large Files Check
        entry: scripts/check-large-files.sh
        language: script
        always_run: true

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: (\.xcodeproj|\.pbxproj)$
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main]

feat(camera): improve capture guidance accuracy
  .flow/epics/fn-16-7jn.json
  .flow/specs/fn-16-7jn.md
  .flow/tasks/fn-16-7jn.1.json
  .flow/tasks/fn-16-7jn.1.md
  .flow/tasks/fn-16-7jn.2.json
  .flow/tasks/fn-16-7jn.2.md
  .flow/tasks/fn-16-7jn.3.json
  .flow/tasks/fn-16-7jn.3.md
  SkinLab/Core/Utils/CameraService.swift
  SkinLab/Features/Analysis/Views/CameraPreviewView.swift
Due: swiftlint, swiftformat-check, secrets-check

refactor: optimize cache and retry handling
  .flow/epics/fn-17-vfs.json
  .flow/specs/fn-17-vfs.md
  .flow/tasks/fn-17-vfs.1.json
  .flow/tasks/fn-17-vfs.1.md
  .flow/tasks/fn-17-vfs.2.json
  .flow/tasks/fn-17-vfs.2.md
  .flow/tasks/fn-17-vfs.3.json
  .flow/tasks/fn-17-vfs.3.md
  .flow/tasks/fn-17-vfs.4.json
  .flow/tasks/fn-17-vfs.4.md
  SkinLab/Core/Network/GeminiService.swift
  SkinLab/Core/Network/WeatherService.swift
  SkinLab/Core/Utils/IngredientOCR.swift
  SkinLab/Features/Community/Services/MatchCache.swift
Due: swiftlint, swiftformat-check, secrets-check

feat: add low-quality photo blocking flag
  .flow/evidence-fn-18-i0g.5.json
  .flow/summary-fn-18-i0g.5.md
  .flow/tasks/fn-18-i0g.5.md
  SkinLab/Core/Config/AppConfiguration.swift
  SkinLab/Features/Analysis/ViewModels/AnalysisViewModel.swift
  SkinLab/Features/Analysis/Views/HomeView.swift
  SkinLab/UI/Components/ConfidenceScoreCardView.swift
  SkinLab/UI/Theme/Colors.swift
  SkinLabTests/Analysis/PhotoDataFlowTests.swift
Due: swiftlint, swiftformat-check, secrets-check

feat: add confidence score card
  SkinLab.xcodeproj/project.pbxproj
  SkinLab/Core/Utils/PhotoQualityEvaluator.swift
  SkinLab/Features/Analysis/Models/SkinAnalysis.swift
  SkinLab/Features/Analysis/Views/AnalysisResultView.swift
  SkinLabTests/Core/PhotoQualityEvaluatorTests.swift
Due: swiftlint, swiftformat-check, secrets-check

chore: update flow task fn-18-i0g.4 evidence
  .flow/evidence-fn-18-i0g.4.json
  .flow/summary-fn-18-i0g.4.md
  .flow/tasks/fn-18-i0g.4.md
Due: secrets-check

feat: add evidence data model and loader
  SkinLab.xcodeproj/project.pbxproj
  SkinLab/Features/Products/Models/EvidenceModels.swift
  SkinLab/Resources/Data/evidence.json
Due: swiftlint, swiftformat-check, secrets-check

chore: complete fn-19-4af.1
  .flow/evidence-fn-19-4af.1.json
  .flow/summary-fn-19-4af.1.md
  .flow/tasks/fn-19-4af.1.md
Due: secrets-check

feat: add evidence badge UI
  SkinLab.xcodeproj/project.pbxproj
  SkinLab/Features/Products/Views/EnhancedIngredientResultView.swift
  SkinLab/UI/Components/EvidenceBadgeView.swift
Due: swiftlint, swiftformat-check, secrets-check

chore: complete fn-19-4af.2
  .flow/evidence-fn-19-4af.2.json
  .flow/summary-fn-19-4af.2.md
  .flow/tasks/fn-19-4af.2.md
Due: secrets-check

docs: refresh README
  README.md
  assets/readme/hero.svg
Due: none
